body {
  padding-left: 6em;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: 0D0E0A;
  background-color: #A6CDDA; 
}


form {
    margin: 18;
    width: 400px;
    padding: 1em;
    border: 2px solid #4C7EBF;
    border-radius: 2em;
}

input, textarea {

    
    border: 2px solid #999;
}

.button {
    padding-left: 125px;
}


